# Visual Studio
.vs/
BarberMe/.vs/
bin/
obj/

*.user
*.suo
*.db
*.sqlite
*.sqlite-journal
# Rider
.idea/

# VS Code
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# User specific files
*.user
*.suo

# Logs
*.log